/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* custom fonts */
@font-face {
    font-family: 'titleFont';
    src: url('assets/fonts/titleFont.woff2') format('woff2'),
         url('assets/fonts/titleFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* general */
body {
    background-color: #E5E5E5;
}
.container {
    text-align: center;
    font-family: 'Roboto Mono';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}

/* header */
.header h1 {
    font-family: 'titleFont';
    font-size: 55px;
    margin: 0;
}
.github-link {
    color: slategrey;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.github-link:hover {
    color: cadetblue;
    text-decoration-line: underline;
}

/* description */
.links-body {
    display: flex;
    flex-direction: column;
}
.links-body a {
    color: slategray;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.links-body span {
    margin-bottom: 7.5px;
}
.links-body a:hover {
    text-decoration-line: underline;
}
.btn-cydiarepo:hover {
    color: rgb(91, 61, 19);
}
.btn-altsource:hover {
    color: rgb(0, 134, 120);
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.footer a {
    color: silver;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.footer span {
    margin-top: 7.5px;
}
.footer-github:hover {
    color: black;
    text-decoration-line: underline;
}
.footer-link:hover {
    color: mediumslateblue;
    text-decoration-line: underline;
}